<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application android:usesCleartextTraffic="true" tools:targetApi="34" tools:ignore="GoogleAppIndexingWarning">
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyC2lMldNBbbU99OHB9mGoetWdR0v_Liy6A"/>
    </application>
</manifest>
